.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 80px;
    letter-spacing: 4px;
}

.header__nav-list {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    gap: 60px;
}

.header__title {
    font-size: 72px;
    font-weight: 700;
    margin-right: 30px;
    white-space: nowrap;
    text-shadow: 0 0 15px rgb(245, 199, 199);
}

.header__nav-link {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px rgb(238, 234, 234);
}

.header__nav-link:hover {
    transition: all 0.3s;
    color: rgba(202, 202, 202, 0.719);
}
