* {margin: 0; padding: 0;}
html, body {height: 100%;}
ul, ol {list-style: none;}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(54, 168, 54, 0.849);
    line-height: 1.4;
    color: rgba(233, 233, 233, 0.87);
}

.header__nav-list {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    gap: 40px;
}

.header__title {
    font-size: 72px;
    font-weight: 700;
}
